.Post{
    color: #411f1f;
    font-family: "Fira Code";
    font-size: 18px;
    display: inline-block;
    border: 1px #5093c0 solid;
}
.div{
    display: flex;
    width: 98.7vw;
    height: 4vh;
    justify-content: center;
    align-items: center;

}