.Header{
    display: flex;
    justify-content: space-around;
    align-items: center;
    height: 50px;
    background: aquamarine;
}
.Header a{
    text-decoration: none;
    color: blue;
    font-weight: bold;
}